## Transformations

    1. Select
    2. expr, Col
    3. SelectExpr

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .master("local[*]") \
                    .appName("Create Dataframe") \
                    .getOrCreate()

In [2]:
spark

In [ ]:
spark.sparkContext.defaultParallelism

In [3]:
sales_data = [
['SO101', '08-01-2024', 'Amit Joshi', 'Hyderabad', 'India', 'Keyboard', '3000', '4', 'pieces', '12000', 'INR', '18-01-2024'],
['SO102', '19-01-2024', 'Divya Reddy', 'Mumbai', 'India', 'Printer', '1500', '5', 'pieces', '7500', 'INR', '29-01-2024'],
['SO103', '01-01-2024', 'Rohan Patel', 'Pune', 'India', 'Laptop', '1500', '10', 'pieces', '15000', 'INR', '11-01-2024'],
['SO104', '30-03-2024', 'Divya Reddy', 'Pune', 'India', 'External Hard Drive', '10000', '8', 'pieces', '80000', 'INR', '09-04-2024'],
['SO105', '14-03-2024', 'Nikhil Desai', 'Ahmedabad', 'India', 'Wireless Mouse', '8000', '10', 'pieces', '80000', 'INR', '19-03-2024'],
['SO106', '20-03-2024', 'Pooja Mehta', 'Hyderabad', 'India', 'Monitor', '8000', '10', 'pieces', '80000', 'INR', '25-03-2024'],
['SO107', '10-03-2024', 'Amit Joshi', 'Mumbai', 'India', 'Webcam', '10000', '2', 'pieces', '20000', 'INR', '15-03-2024'],
['SO108', '03-04-2024', 'Nikhil Desai', 'Pune', 'India', 'Wireless Mouse', '8000', '1', 'pieces', '8000', 'INR', '08-04-2024'],
['SO109', '03-05-2024', 'Amit Joshi', 'Ahmedabad', 'India', 'Monitor', '70000', '5', 'pieces', '350000', 'INR', '18-05-2024'],
['SO1010', '01-05-2024', 'Nikhil Desai', 'Ahmedabad', 'India', 'Monitor', '2000', '7', 'pieces', '14000', 'INR', '16-05-2024'],
['SO1011', '19-06-2024', 'Amit Joshi', 'Chennai', 'India', 'Printer', '2000', '1', 'pieces', '2000', 'INR', '04-07-2024'],
['SO1012', '08-07-2024', 'Rohan Patel', 'Mumbai', 'India', 'Keyboard', '3000', '5', 'pieces', '15000', 'INR', '23-07-2024'],
['SO1013', '14-08-2024', 'Nikhil Desai', 'Mumbai', 'India', 'Keyboard', '10000', '10', 'pieces', '100000', 'INR', '29-08-2024'],
['SO1014', '02-09-2024', 'Pooja Mehta', 'Ahmedabad', 'India', 'Laptop', '10000', '10', 'pieces', '100000', 'INR', '17-09-2024'],
['SO1015', '23-09-2024', 'Amit Joshi', 'Chennai', 'India', 'Laptop', '8000', '6', 'pieces', '48000', 'INR', '08-10-2024'],
['SO1016', '20-01-2023', 'Nikhil Desai', 'Ahmedabad', 'India', 'Webcam', '8000', '4', 'pieces', '32000', 'INR', '09-02-2023'],
['SO1017', '01-01-2023', 'Nikhil Desai', 'Mumbai', 'India', 'Keyboard', '8000', '6', 'pieces', '48000', 'INR', '21-01-2023'],
['SO1018', '26-01-2023', 'Nikhil Desai', 'Pune', 'India', 'Laptop', '10000', '5', 'pieces', '50000', 'INR', '15-02-2023'],
['SO1019', '18-02-2023', 'Rohan Patel', 'Mumbai', 'India', 'Keyboard', '2000', '5', 'pieces', '10000', 'INR', '10-03-2023'],
['SO1020', '24-03-2023', 'Amit Joshi', 'Pune', 'India', 'External Hard Drive', '5000', '5', 'pieces', '25000', 'INR', '13-04-2023'],
['SO1021', '16-03-2023', 'Amit Joshi', 'Mumbai', 'India', 'Webcam', '10000', '7', 'pieces', '70000', 'INR', '10-04-2023'],
['SO1022', '30-04-2023', 'Amit Joshi', 'Pune', 'India', 'Laptop', '70000', '5', 'pieces', '350000', 'INR', '25-05-2023'],
['SO1023', '13-04-2023', 'Nikhil Desai', 'Mumbai', 'India', 'Wireless Mouse', '3000', '3', 'pieces', '9000', 'INR', '08-05-2023'],
['SO1024', '08-07-2023', 'Pooja Mehta', 'Ahmedabad', 'India', 'Wireless Mouse', '5000', '2', 'pieces', '10000', 'INR', '02-08-2023'],
['SO1025', '25-07-2023', 'Rohan Patel', 'Chennai', 'India', 'External Hard Drive', '5000', '7', 'pieces', '35000', 'INR', '19-08-2023'],
['SO1026', '14-07-2023', 'Divya Reddy', 'Ahmedabad', 'India', 'Keyboard', '1500', '8', 'pieces', '12000', 'INR', '08-08-2023'],
['SO1027', '24-07-2023', 'Rohan Patel', 'Hyderabad', 'India', 'Laptop', '3000', '9', 'pieces', '27000', 'INR', '18-08-2023'],
['SO1028', '25-07-2023', 'Rohan Patel', 'Chennai', 'India', 'Monitor', '5000', '8', 'pieces', '40000', 'INR', '19-08-2023'],
['SO1029', '17-09-2023', 'Divya Reddy', 'Chennai', 'India', 'Wireless Mouse', '1500', '8', 'pieces', '12000', 'INR', '12-10-2023'],
['SO1030', '08-09-2023', 'Nikhil Desai', 'Chennai', 'India', 'Webcam', '8000', '9', 'pieces', '72000', 'INR', '03-10-2023']
]

sales_schema = """SalesOrder string, 
                    OrderDate string, 
                    CustomerName string, 
                    City string, 
                    Country string, 
                    Product string, 
                    Price string, 
                    Qty_Sold string, 
                    Qty_Sold_Units string, 
                    Amount string, 
                    Amount_Currency string, 
                    ShipDate string"""

In [4]:
sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

In [5]:
sales_df.printSchema()

root
 |-- SalesOrder: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Qty_Sold: string (nullable = true)
 |-- Qty_Sold_Units: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Amount_Currency: string (nullable = true)
 |-- ShipDate: string (nullable = true)

In [6]:
sales_df.show()

+----------+----------+------------+---------+-------+-------------------+-----+--------+--------------+------+---------------+----------+
|SalesOrder| OrderDate|CustomerName|     City|Country|            Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|
+----------+----------+------------+---------+-------+-------------------+-----+--------+--------------+------+---------------+----------+
|     SO101|08-01-2024|  Amit Joshi|Hyderabad|  India|           Keyboard| 3000|       4|        pieces| 12000|            INR|18-01-2024|
|     SO102|19-01-2024| Divya Reddy|   Mumbai|  India|            Printer| 1500|       5|        pieces|  7500|            INR|29-01-2024|
|     SO103|01-01-2024| Rohan Patel|     Pune|  India|             Laptop| 1500|      10|        pieces| 15000|            INR|11-01-2024|
|     SO104|30-03-2024| Divya Reddy|     Pune|  India|External Hard Drive|10000|       8|        pieces| 80000|            INR|09-04-2024|
|     SO105|14-03-2024|Nikhil Desai|Ahmedabad|  India|     Wireless Mouse| 8000|      10|        pieces| 80000|            INR|19-03-2024|
|     SO106|20-03-2024| Pooja Mehta|Hyderabad|  India|            Monitor| 8000|      10|        pieces| 80000|            INR|25-03-2024|
|     SO107|10-03-2024|  Amit Joshi|   Mumbai|  India|             Webcam|10000|       2|        pieces| 20000|            INR|15-03-2024|
|     SO108|03-04-2024|Nikhil Desai|     Pune|  India|     Wireless Mouse| 8000|       1|        pieces|  8000|            INR|08-04-2024|
|     SO109|03-05-2024|  Amit Joshi|Ahmedabad|  India|            Monitor|70000|       5|        pieces|350000|            INR|18-05-2024|
|    SO1010|01-05-2024|Nikhil Desai|Ahmedabad|  India|            Monitor| 2000|       7|        pieces| 14000|            INR|16-05-2024|
|    SO1011|19-06-2024|  Amit Joshi|  Chennai|  India|            Printer| 2000|       1|        pieces|  2000|            INR|04-07-2024|
|    SO1012|08-07-2024| Rohan Patel|   Mumbai|  India|           Keyboard| 3000|       5|        pieces| 15000|            INR|23-07-2024|
|    SO1013|14-08-2024|Nikhil Desai|   Mumbai|  India|           Keyboard|10000|      10|        pieces|100000|            INR|29-08-2024|
|    SO1014|02-09-2024| Pooja Mehta|Ahmedabad|  India|             Laptop|10000|      10|        pieces|100000|            INR|17-09-2024|
|    SO1015|23-09-2024|  Amit Joshi|  Chennai|  India|             Laptop| 8000|       6|        pieces| 48000|            INR|08-10-2024|
|    SO1016|20-01-2023|Nikhil Desai|Ahmedabad|  India|             Webcam| 8000|       4|        pieces| 32000|            INR|09-02-2023|
|    SO1017|01-01-2023|Nikhil Desai|   Mumbai|  India|           Keyboard| 8000|       6|        pieces| 48000|            INR|21-01-2023|
|    SO1018|26-01-2023|Nikhil Desai|     Pune|  India|             Laptop|10000|       5|        pieces| 50000|            INR|15-02-2023|
|    SO1019|18-02-2023| Rohan Patel|   Mumbai|  India|           Keyboard| 2000|       5|        pieces| 10000|            INR|10-03-2023|
|    SO1020|24-03-2023|  Amit Joshi|     Pune|  India|External Hard Drive| 5000|       5|        pieces| 25000|            INR|13-04-2023|
+----------+----------+------------+---------+-------+-------------------+-----+--------+--------------+------+---------------+----------+
only showing top 20 rows

In [7]:
## Select City,CustomerName, Amount, Amount_Currency, OrderDate from sales_df

from pyspark.sql.functions import expr, col

sales_selected_df = sales_df.select("City", col("CustomerName"), expr("Amount"), sales_df.Amount_Currency, sales_df["OrderDate"])

In [9]:
sales_selected_df.show()

+---------+------------+------+---------------+----------+
|     City|CustomerName|Amount|Amount_Currency| OrderDate|
+---------+------------+------+---------------+----------+
|Hyderabad|  Amit Joshi| 12000|            INR|08-01-2024|
|   Mumbai| Divya Reddy|  7500|            INR|19-01-2024|
|     Pune| Rohan Patel| 15000|            INR|01-01-2024|
|     Pune| Divya Reddy| 80000|            INR|30-03-2024|
|Ahmedabad|Nikhil Desai| 80000|            INR|14-03-2024|
|Hyderabad| Pooja Mehta| 80000|            INR|20-03-2024|
|   Mumbai|  Amit Joshi| 20000|            INR|10-03-2024|
|     Pune|Nikhil Desai|  8000|            INR|03-04-2024|
|Ahmedabad|  Amit Joshi|350000|            INR|03-05-2024|
|Ahmedabad|Nikhil Desai| 14000|            INR|01-05-2024|
|  Chennai|  Amit Joshi|  2000|            INR|19-06-2024|
|   Mumbai| Rohan Patel| 15000|            INR|08-07-2024|
|   Mumbai|Nikhil Desai|100000|            INR|14-08-2024|
|Ahmedabad| Pooja Mehta|100000|            INR|02-09-2024|
|  Chennai|  Amit Joshi| 48000|            INR|23-09-2024|
|Ahmedabad|Nikhil Desai| 32000|            INR|20-01-2023|
|   Mumbai|Nikhil Desai| 48000|            INR|01-01-2023|
|     Pune|Nikhil Desai| 50000|            INR|26-01-2023|
|   Mumbai| Rohan Patel| 10000|            INR|18-02-2023|
|     Pune|  Amit Joshi| 25000|            INR|24-03-2023|
+---------+------------+------+---------------+----------+
only showing top 20 rows

In [10]:
## Select left(City,3) as city,
          # CustomerName as Customer, 
          #  Amount - 1000 as AmountAfterTax, 
          #   cast(Price as integer) Price, 
          #   to_date(OrderDate, 'dd-MM-yyyy') as OrderDate, 
          #   Amount_Currency 
          #   from sales_df

from pyspark.sql.functions import expr, col, to_date

from pyspark.sql.types import DateType
sales_selected_cal_df = sales_df.select(expr("left(City,3) as city"), expr("CustomerName as Customer"), expr("Amount - 1000 as AmountAfterTax"), expr("cast(Price as integer) Price"), expr("to_date(OrderDate, 'dd-MM-yyyy') as date"))

In [11]:
sales_selected_cal_df.show()

+----+------------+--------------+-----+----------+
|city|    Customer|AmountAfterTax|Price|      date|
+----+------------+--------------+-----+----------+
| Hyd|  Amit Joshi|       11000.0| 3000|2024-01-08|
| Mum| Divya Reddy|        6500.0| 1500|2024-01-19|
| Pun| Rohan Patel|       14000.0| 1500|2024-01-01|
| Pun| Divya Reddy|       79000.0|10000|2024-03-30|
| Ahm|Nikhil Desai|       79000.0| 8000|2024-03-14|
| Hyd| Pooja Mehta|       79000.0| 8000|2024-03-20|
| Mum|  Amit Joshi|       19000.0|10000|2024-03-10|
| Pun|Nikhil Desai|        7000.0| 8000|2024-04-03|
| Ahm|  Amit Joshi|      349000.0|70000|2024-05-03|
| Ahm|Nikhil Desai|       13000.0| 2000|2024-05-01|
| Che|  Amit Joshi|        1000.0| 2000|2024-06-19|
| Mum| Rohan Patel|       14000.0| 3000|2024-07-08|
| Mum|Nikhil Desai|       99000.0|10000|2024-08-14|
| Ahm| Pooja Mehta|       99000.0|10000|2024-09-02|
| Che|  Amit Joshi|       47000.0| 8000|2024-09-23|
| Ahm|Nikhil Desai|       31000.0| 8000|2023-01-20|
| Mum|Nikhil Desai|       47000.0| 8000|2023-01-01|
| Pun|Nikhil Desai|       49000.0|10000|2023-01-26|
| Mum| Rohan Patel|        9000.0| 2000|2023-02-18|
| Pun|  Amit Joshi|       24000.0| 5000|2023-03-24|
+----+------------+--------------+-----+----------+
only showing top 20 rows

In [12]:
## Select left(City,3) as city,
          # CustomerName as Customer, 
          #  Amount - 1000 as AmountAfterTax, 
          #   cast(Price as integer) Price, 
          #   to_date(OrderDate, 'dd-MM-yyyy') as OrderDate, 
          #   Amount_Currency 
          #   from sales_df

sales_selected_cal_df = sales_df.selectExpr("left(City,3) as city","CustomerName as Customer", "Amount - 1000 as AmountAfterTax","cast(Price as integer) Price", "to_date(OrderDate, 'dd-MM-yyyy') as OrderDate" ,"Amount_Currency" )

In [13]:
sales_selected_cal_df.show()

+----+------------+--------------+-----+----------+---------------+
|city|    Customer|AmountAfterTax|Price| OrderDate|Amount_Currency|
+----+------------+--------------+-----+----------+---------------+
| Hyd|  Amit Joshi|       11000.0| 3000|2024-01-08|            INR|
| Mum| Divya Reddy|        6500.0| 1500|2024-01-19|            INR|
| Pun| Rohan Patel|       14000.0| 1500|2024-01-01|            INR|
| Pun| Divya Reddy|       79000.0|10000|2024-03-30|            INR|
| Ahm|Nikhil Desai|       79000.0| 8000|2024-03-14|            INR|
| Hyd| Pooja Mehta|       79000.0| 8000|2024-03-20|            INR|
| Mum|  Amit Joshi|       19000.0|10000|2024-03-10|            INR|
| Pun|Nikhil Desai|        7000.0| 8000|2024-04-03|            INR|
| Ahm|  Amit Joshi|      349000.0|70000|2024-05-03|            INR|
| Ahm|Nikhil Desai|       13000.0| 2000|2024-05-01|            INR|
| Che|  Amit Joshi|        1000.0| 2000|2024-06-19|            INR|
| Mum| Rohan Patel|       14000.0| 3000|2024-07-08|            INR|
| Mum|Nikhil Desai|       99000.0|10000|2024-08-14|            INR|
| Ahm| Pooja Mehta|       99000.0|10000|2024-09-02|            INR|
| Che|  Amit Joshi|       47000.0| 8000|2024-09-23|            INR|
| Ahm|Nikhil Desai|       31000.0| 8000|2023-01-20|            INR|
| Mum|Nikhil Desai|       47000.0| 8000|2023-01-01|            INR|
| Pun|Nikhil Desai|       49000.0|10000|2023-01-26|            INR|
| Mum| Rohan Patel|        9000.0| 2000|2023-02-18|            INR|
| Pun|  Amit Joshi|       24000.0| 5000|2023-03-24|            INR|
+----+------------+--------------+-----+----------+---------------+
only showing top 20 rows