## Transformations

    1. Select
    2. expr, Col
    3. SelectExpr

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .master("local[*]") \
                    .appName("Create Dataframe") \
                    .getOrCreate()

In [ ]:
spark.stop()

In [ ]:
spark.sparkContext.defaultParallelism

In [ ]:
sales_data = [
['SO101', '08-01-2024', 'Amit Joshi', 'Hyderabad', 'India', 'Keyboard', 3000, 4, 'pieces', 12000, 'INR', '18-01-2024'],
['SO102', '19-01-2024', 'Divya Reddy', 'Mumbai', 'India', 'Printer', 1500, 5, 'pieces', 7500, 'INR', '29-01-2024'],
['SO103', '01-01-2024', 'Rohan Patel', 'Pune', 'India', 'Laptop', 1500, 10, 'pieces', 15000, 'INR', '11-01-2024'],
['SO104', '30-03-2024', 'Divya Reddy', 'Pune', 'India', 'External Hard Drive', 10000, 8, 'pieces', 80000, 'INR', '09-04-2024'],
['SO105', '14-03-2024', 'Nikhil Desai', 'Ahmedabad', 'India', 'Wireless Mouse', 8000, 10, 'pieces', 80000, 'INR', '19-03-2024'],
['SO106', '20-03-2024', 'Pooja Mehta', 'Hyderabad', 'India', 'Monitor', 8000, 10, 'pieces', 80000, 'INR', '25-03-2024'],
['SO107', '10-03-2024', 'Amit Joshi', 'Mumbai', 'India', 'Webcam', 10000, 2, 'pieces', 20000, 'INR', '15-03-2024'],
['SO108', '03-04-2024', 'Nikhil Desai', 'Pune', 'India', 'Wireless Mouse', 8000, 1, 'pieces', 8000, 'INR', '08-04-2024'],
['SO109', '03-05-2024', 'Amit Joshi', 'Ahmedabad', 'India', 'Monitor', 70000, 5, 'pieces', 350000, 'INR', '18-05-2024'],
['SO1010', '01-05-2024', 'Nikhil Desai', 'Ahmedabad', 'India', 'Monitor', 2000, 7, 'pieces', 14000, 'INR', '16-05-2024'],
['SO1011', '19-06-2024', 'Amit Joshi', 'Chennai', 'India', 'Printer', 2000, 1, 'pieces', 2000, 'INR', '04-07-2024'],
['SO1012', '08-07-2024', 'Rohan Patel', 'Mumbai', 'India', 'Keyboard', 3000, 5, 'pieces', 15000, 'INR', '23-07-2024'],
['SO1013', '14-08-2024', 'Nikhil Desai', 'Mumbai', 'India', 'Keyboard', 10000, 10, 'pieces', 100000, 'INR', '29-08-2024'],
['SO1014', '02-09-2024', 'Pooja Mehta', 'Ahmedabad', 'India', 'Laptop', 10000, 10, 'pieces', 100000, 'INR', '17-09-2024'],
['SO1015', '23-09-2024', 'Amit Joshi', 'Chennai', 'India', 'Laptop', 8000, 6, 'pieces', 48000, 'INR', '08-10-2024'],
['SO1016', '20-01-2023', 'Nikhil Desai', 'Ahmedabad', 'India', 'Webcam', 8000, 4, 'pieces', 32000, 'INR', '09-02-2023'],
['SO1017', '01-01-2023', 'Nikhil Desai', 'Mumbai', 'India', 'Keyboard', 8000, 6, 'pieces', 48000, 'INR', '21-01-2023'],
['SO1018', '26-01-2023', 'Nikhil Desai', 'Pune', 'India', 'Laptop', 10000, 5, 'pieces', 50000, 'INR', '15-02-2023'],
['SO1019', '18-02-2023', 'Rohan Patel', 'Mumbai', 'India', 'Keyboard', 2000, 5, 'pieces', 10000, 'INR', '10-03-2023'],
['SO1020', '24-03-2023', 'Amit Joshi', 'Pune', 'India', 'External Hard Drive', 5000, 5, 'pieces', 25000, 'INR', '13-04-2023'],
['SO1021', '16-03-2023', 'Amit Joshi', 'Mumbai', 'India', 'Webcam', 10000, 7, 'pieces', 70000, 'INR', '10-04-2023'],
['SO1022', '30-04-2023', 'Amit Joshi', 'Pune', 'India', 'Laptop', 70000, 5, 'pieces', 350000, 'INR', '25-05-2023'],
['SO1023', '13-04-2023', 'Nikhil Desai', 'Mumbai', 'India', 'Wireless Mouse', 3000, 3, 'pieces', 9000, 'INR', '08-05-2023'],
['SO1024', '08-07-2023', 'Pooja Mehta', 'Ahmedabad', 'India', 'Wireless Mouse', 5000, 2, 'pieces', 10000, 'INR', '02-08-2023'],
['SO1025', '25-07-2023', 'Rohan Patel', 'Chennai', 'India', 'External Hard Drive', 5000, 7, 'pieces', 35000, 'INR', '19-08-2023'],
['SO1026', '14-07-2023', 'Divya Reddy', 'Ahmedabad', 'India', 'Keyboard', 1500, 8, 'pieces', 12000, 'INR', '08-08-2023'],
['SO1027', '24-07-2023', 'Rohan Patel', 'Hyderabad', 'India', 'Laptop', 3000, 9, 'pieces', 27000, 'INR', '18-08-2023'],
['SO1028', '25-07-2023', 'Rohan Patel', 'Chennai', 'India', 'Monitor', 5000, 8, 'pieces', 40000, 'INR', '19-08-2023'],
['SO1029', '17-09-2023', 'Divya Reddy', 'Chennai', 'India', 'Wireless Mouse', 1500, 8, 'pieces', 12000, 'INR', '12-10-2023'],
['SO1030', '08-09-2023', 'Nikhil Desai', 'Chennai', 'India', 'Webcam', 8000, 9, 'pieces', 72000, 'INR', '03-10-2023']

]

sales_schema = """SalesOrder string, 
                    OrderDate string, 
                    CustomerName string, 
                    City string, 
                    Country string, 
                    Product string, 
                    Price integer, 
                    Qty_Sold integer, 
                    Qty_Sold_Units string, 
                    Amount integer, 
                    Amount_Currency string, 
                    ShipDate string"""

In [ ]:
sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

In [ ]:
sales_df.printSchema()

In [ ]:
sales_df.show()

In [ ]:
# Rename a column

sales_df.withColumnRenamed("Amount", "SalesAmount").show()

In [ ]:
# Rename multiple columns

sales_df.withColumnsRenamed(
                        {"Amount": "SalesAmount", 
                         "Qty_Sold":"QuantitySold"}
                        ).show()

In [ ]:
renamed_dict = {"Amount": "SalesAmount", 
                         "Qty_Sold":"QuantitySold"}

sales_df.withColumnsRenamed(renamed_dict).show()