## Transformations

    1. Select
    2. expr, Col
    3. SelectExpr

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .master("local[*]") \
                    .appName("Create Dataframe") \
                    .getOrCreate()

In [ ]:
spark.stop()

In [ ]:
spark.sparkContext.defaultParallelism

In [ ]:
sales_data = [
    {"SalesOrder": "SO101", "OrderDate": "08-01-2024", "CustomerID": 1, "City": "Hyderabad", "Country": "India", "ProductID": 1, "Price": 3000, "Qty_Sold": 4, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "18-01-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO102", "OrderDate": "19-01-2024", "CustomerID": 2, "City": "Mumbai", "Country": "India", "ProductID": 2, "Price": 1500, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 7500, "Amount_Currency": "INR", "ShipDate": "29-01-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO103", "OrderDate": "01-01-2024", "CustomerID": 3, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 1500, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 15000, "Amount_Currency": "INR", "ShipDate": "11-01-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO104", "OrderDate": "30-03-2024", "CustomerID": 2, "City": "Pune", "Country": "India", "ProductID": 4, "Price": 10000, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "09-04-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO105", "OrderDate": "14-03-2024", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 5, "Price": 8000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "19-03-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO106", "OrderDate": "20-03-2024", "CustomerID": 5, "City": "Hyderabad", "Country": "India", "ProductID": 6, "Price": 8000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "25-03-2024", "OrderStatus": "Hold"},
    {"SalesOrder": "SO107", "OrderDate": "10-03-2024", "CustomerID": 1, "City": "Mumbai", "Country": "India", "ProductID": 7, "Price": 10000, "Qty_Sold": 2, "Qty_Sold_Units": "pieces", "Amount": 20000, "Amount_Currency": "INR", "ShipDate": "15-03-2024", "OrderStatus": "Hold"},
    {"SalesOrder": "SO108", "OrderDate": "03-04-2024", "CustomerID": 4, "City": "Pune", "Country": "India", "ProductID": 5, "Price": 8000, "Qty_Sold": 1, "Qty_Sold_Units": "pieces", "Amount": 8000, "Amount_Currency": "INR", "ShipDate": "08-04-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO109", "OrderDate": "03-05-2024", "CustomerID": 1, "City": "Ahmedabad", "Country": "India", "ProductID": 6, "Price": 70000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 350000, "Amount_Currency": "INR", "ShipDate": "18-05-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1010", "OrderDate": "01-05-2024", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 6, "Price": 2000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 14000, "Amount_Currency": "INR", "ShipDate": "16-05-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1011", "OrderDate": "19-06-2024", "CustomerID": 1, "City": "Chennai", "Country": "India", "ProductID": 2, "Price": 2000, "Qty_Sold": 1, "Qty_Sold_Units": "pieces", "Amount": 2000, "Amount_Currency": "INR", "ShipDate": "04-07-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1012", "OrderDate": "08-07-2024", "CustomerID": 3, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 3000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 15000, "Amount_Currency": "INR", "ShipDate": "23-07-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1013", "OrderDate": "14-08-2024", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 10000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 100000, "Amount_Currency": "INR", "ShipDate": "29-08-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1014", "OrderDate": "02-09-2024", "CustomerID": 5, "City": "Ahmedabad", "Country": "India", "ProductID": 3, "Price": 10000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 100000, "Amount_Currency": "INR", "ShipDate": "17-09-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1015", "OrderDate": "23-09-2024", "CustomerID": 1, "City": "Chennai", "Country": "India", "ProductID": 3, "Price": 8000, "Qty_Sold": 6, "Qty_Sold_Units": "pieces", "Amount": 48000, "Amount_Currency": "INR", "ShipDate": "08-10-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1016", "OrderDate": "20-01-2023", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 7, "Price": 8000, "Qty_Sold": 4, "Qty_Sold_Units": "pieces", "Amount": 32000, "Amount_Currency": "INR", "ShipDate": "09-02-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1017", "OrderDate": "01-01-2023", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 8000, "Qty_Sold": 6, "Qty_Sold_Units": "pieces", "Amount": 48000, "Amount_Currency": "INR", "ShipDate": "21-01-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1018", "OrderDate": "26-01-2023", "CustomerID": 4, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 10000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 50000, "Amount_Currency": "INR", "ShipDate": "15-02-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1019", "OrderDate": "18-02-2023", "CustomerID": 3, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 2000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 10000, "Amount_Currency": "INR", "ShipDate": "10-03-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1020", "OrderDate": "24-03-2023", "CustomerID": 1, "City": "Pune", "Country": "India", "ProductID": 4, "Price": 5000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 25000, "Amount_Currency": "INR", "ShipDate": "13-04-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1021", "OrderDate": "16-03-2023", "CustomerID": 1, "City": "Mumbai", "Country": "India", "ProductID": 7, "Price": 10000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 70000, "Amount_Currency": "INR", "ShipDate": "10-04-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1022", "OrderDate": "30-04-2023", "CustomerID": 1, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 70000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 350000, "Amount_Currency": "INR", "ShipDate": "25-05-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1023", "OrderDate": "13-04-2023", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 5, "Price": 3000, "Qty_Sold": 3, "Qty_Sold_Units": "pieces", "Amount": 9000, "Amount_Currency": "INR", "ShipDate": "08-05-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1024", "OrderDate": "08-07-2023", "CustomerID": 5, "City": "Ahmedabad", "Country": "India", "ProductID": 5, "Price": 5000, "Qty_Sold": 2, "Qty_Sold_Units": "pieces", "Amount": 10000, "Amount_Currency": "INR", "ShipDate": "02-08-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1025", "OrderDate": "25-07-2023", "CustomerID": 3, "City": "Chennai", "Country": "India", "ProductID": 4, "Price": 5000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 35000, "Amount_Currency": "INR", "ShipDate": "19-08-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1026", "OrderDate": "14-07-2023", "CustomerID": 2, "City": "Ahmedabad", "Country": "India", "ProductID": 1, "Price": 1500, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "08-08-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1027", "OrderDate": "24-07-2023", "CustomerID": 3, "City": "Hyderabad", "Country": "India", "ProductID": 3, "Price": 3000, "Qty_Sold": 9, "Qty_Sold_Units": "pieces", "Amount": 27000, "Amount_Currency": "INR", "ShipDate": "18-08-2023", "OrderStatus": "Hold"},
    {"SalesOrder": "SO1028", "OrderDate": "25-07-2023", "CustomerID": 3, "City": "Chennai", "Country": "India", "ProductID": 6, "Price": 5000, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 40000, "Amount_Currency": "INR", "ShipDate": "19-08-2023", "OrderStatus": "Hold"},
    {"SalesOrder": "SO1029", "OrderDate": "17-09-2023", "CustomerID": 2, "City": "Chennai", "Country": "India", "ProductID": 5, "Price": 1500, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "12-10-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1030", "OrderDate": "08-09-2023", "CustomerID": 4, "City": "Chennai", "Country": "India", "ProductID": 7, "Price": 8000, "Qty_Sold": 9, "Qty_Sold_Units": "pieces", "Amount": 72000, "Amount_Currency": "INR", "ShipDate": "03-10-2023", "OrderStatus": "Open"}
]


sales_schema = """SalesOrder string, 
                    OrderDate string, 
                    CustomerID integer, 
                    City string, 
                    Country string, 
                    ProductID integer, 
                    Price integer, 
                    Qty_Sold integer, 
                    Qty_Sold_Units string, 
                    Amount integer, 
                    Amount_Currency string, 
                    ShipDate string,
                    OrderStatus string
                    """

In [ ]:
customer_data = [
    {"CustomerID": 1, "CustomerName": "Amit Joshi", "CustomerBucket": "Bucket-1", "CustomerRegion": "South", "LessThanFullTruckLoad": "Yes", "YearOnYearVolumeIncrease": "No"},
    {"CustomerID": 2, "CustomerName": "Divya Reddy", "CustomerBucket": "Bucket-2", "CustomerRegion": "North", "LessThanFullTruckLoad": "No", "YearOnYearVolumeIncrease": "Yes"},
    {"CustomerID": 3, "CustomerName": "Rohan Patel", "CustomerBucket": "Bucket-1", "CustomerRegion": "South", "LessThanFullTruckLoad": "Yes", "YearOnYearVolumeIncrease": "No"},
    {"CustomerID": 4, "CustomerName": "Nikhil Desai", "CustomerBucket": "Bucket-1", "CustomerRegion": "South", "LessThanFullTruckLoad": "Yes", "YearOnYearVolumeIncrease": "Yes"},
    {"CustomerID": 5, "CustomerName": "Pooja Mehta", "CustomerBucket": "Bucket-2", "CustomerRegion": "South", "LessThanFullTruckLoad": "No", "YearOnYearVolumeIncrease": "No"}
]

customer_schema = """
                    CustomerID integer,
                    CustomerName string,
                    CustomerBucket string,
                    CustomerRegion string,
                    LessThanFullTruckLoad string,
                    YearOnYearVolumeIncrease string
                """

In [ ]:
product_data = [
    {"ProductID": 1, "ProductName": "Keyboard", "ProductCategory": "Peripherals", "ProductSubCategory": "Input Device"},
    {"ProductID": 2, "ProductName": "Printer", "ProductCategory": "Peripherals", "ProductSubCategory": "Output Device"},
    {"ProductID": 3, "ProductName": "Laptop", "ProductCategory": "Computing Device", "ProductSubCategory": "Portable Computer"},
    {"ProductID": 4, "ProductName": "External Hard Drive", "ProductCategory": "Storage", "ProductSubCategory": "External Storage"},
    {"ProductID": 5, "ProductName": "Wireless Mouse", "ProductCategory": "Peripherals", "ProductSubCategory": "Input Device"},
    {"ProductID": 6, "ProductName": "Monitor", "ProductCategory": "Peripherals", "ProductSubCategory": "Output Device"},
    {"ProductID": 7, "ProductName": "Webcam", "ProductCategory": "Peripherals", "ProductSubCategory": "Video Device"}
]

product_schema = """
                    ProductID integer,
                    ProductName string,
                    ProductCategory string,
                    ProductSubCategory string
                """

In [ ]:
sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

In [ ]:
product_df = spark.createDataFrame(data=product_data, schema=product_schema)

In [ ]:
customer_df = spark.createDataFrame(data=customer_data, schema=customer_schema)

In [ ]:
sales_df.printSchema()

In [ ]:
sales_df.show()
product_df.show()
customer_df.show()

In [ ]:
sales_df.printSchema()

In [ ]:
# lower of city

# select lower(city) from table
from pyspark.sql.functions import lower
new_df = sales_df.withColumn( "City", lower("city") )

In [ ]:
# new_df.printSchema()
new_df.show()

In [ ]:
sales_df.columns
if 'City1' in sales_df.columns:
    sales_df.withColumn("New city", lower("city")) \
        .drop("city") \
        .show()
else:
    sales_df.withColumn("New city", lower("city")) \
        .show()

In [ ]:
# lower of city

# select lower(city) from table
from pyspark.sql.functions import lower
sales_df.withColumn("New city", lower("city")) \
        .drop("city") \
        .show()

In [ ]:
# lower of city

# select lower(city) from table
from pyspark.sql.functions import lower
sales_df.withColumn("City", lower("city")) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper
sales_df.withColumn("Country", upper("country")) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper
sales_df.withColumn("Country", upper("country")) \
        .withColumn("City", lower("city")) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper
sales_df.withColumns(
                    {
                     "Country" : upper(sales_df.Country) ,
                     "City": lower(sales_df.City)
                    } 
            ) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col
sales_df.withColumns({"Country" : upper(sales_df.Country) ,
                     "City": lower(sales_df.City)}) \
        .withColumn( "SalesAmount" , col("Price") * col("Qty_Sold")  ) \
        .select("SalesOrder","Price","Qty_Sold","SalesAmount") \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col, to_date, date_format
sales_df.withColumn( "OrderYear" , date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'), 'dd') ) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col, to_date, date_format
sales_df.withColumns({"Country" : upper(sales_df.Country) ,
                     "City": lower(sales_df.City),
                     "SalesAmount": col("Price") * col("Qty_Sold"),
                     "Year" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'yyyy'),
                      "Month" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'MM')  # MMM , MMMM
                     } ) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col, to_date, date_format
sales_df.withColumns({"Country" : upper(sales_df.Country) ,
                     "City": lower(sales_df.City),
                     "SalesAmount": col("Price") * col("Qty_Sold"),
                     "Year" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'yyyy'),
                      "Month" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'MM'),  # MMM , MMMM
                      "Day" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'dd') # d
                     } ) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col, to_date, date_format,weekofyear
sales_df.withColumns({"Country" : upper(sales_df.Country) ,
                     "City": lower(sales_df.City),
                     "SalesAmount": col("Price") * col("Qty_Sold"),
                     "Year" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'yyyy'),
                      "Month" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'MM'),  # MMM , MMMM
                      "Day" : date_format(to_date(sales_df.OrderDate, 'dd-MM-yyyy'),'dd'), # d
                      "week" : weekofyear(to_date(sales_df.OrderDate, 'dd-MM-yyyy'))
                     } ) \
        .show()

In [ ]:
from pyspark.sql.functions import lower, upper, col, to_date, date_format,weekofyear , datediff
sales_df.withColumn("NumberOfDaysin" ,datediff(to_date(sales_df.ShipDate, 'dd-MM-yyyy') , to_date(sales_df.OrderDate, 'dd-MM-yyyy'))) \
        .show()

In [ ]:
sales_df.rdd.getNumPartitions()

In [ ]:
from pyspark.sql.functions import spark_partition_id
sales_df.withColumn("part_col", spark_partition_id()) \
        .head(40)

In [ ]:
# Window Function
# rank() over (partition by City order by Amount)
from pyspark.sql import Window
from pyspark.sql.functions import rank

window = Window.partitionBy("City").orderBy("Amount")
sales_df.withColumn("Rank", rank().over(window)).show()

In [ ]:
# Window Function
# rank() over (partition by City order by Amount)
from pyspark.sql import Window
from pyspark.sql.functions import row_number

window = Window.orderBy("Amount")
sales_df.withColumn("row_number", rank().over(window)).show()

In [ ]:
# Join

sales_with_customer = sales_df.join(customer_df, on=sales_df.CustomerID == customer_df.CustomerID , how="left") \
                              .show()

In [ ]:
sales_with_customer = sales_df.join(customer_df, sales_df.CustomerID == customer_df.CustomerID, how="left")
sales_with_customer.show()

In [ ]:
# union

sales_2024 = [
    {"SalesOrder": "SO101", "OrderDate": "08-01-2024", "CustomerID": 1, "City": "Hyderabad", "Country": "India", "ProductID": 1, "Price": 3000, "Qty_Sold": 4, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "18-01-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO102", "OrderDate": "19-01-2024", "CustomerID": 2, "City": "Mumbai", "Country": "India", "ProductID": 2, "Price": 1500, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 7500, "Amount_Currency": "INR", "ShipDate": "29-01-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO103", "OrderDate": "01-01-2024", "CustomerID": 3, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 1500, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 15000, "Amount_Currency": "INR", "ShipDate": "11-01-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO104", "OrderDate": "30-03-2024", "CustomerID": 2, "City": "Pune", "Country": "India", "ProductID": 4, "Price": 10000, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "09-04-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO105", "OrderDate": "14-03-2024", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 5, "Price": 8000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "19-03-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO106", "OrderDate": "20-03-2024", "CustomerID": 5, "City": "Hyderabad", "Country": "India", "ProductID": 6, "Price": 8000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 80000, "Amount_Currency": "INR", "ShipDate": "25-03-2024", "OrderStatus": "Hold"},
    {"SalesOrder": "SO107", "OrderDate": "10-03-2024", "CustomerID": 1, "City": "Mumbai", "Country": "India", "ProductID": 7, "Price": 10000, "Qty_Sold": 2, "Qty_Sold_Units": "pieces", "Amount": 20000, "Amount_Currency": "INR", "ShipDate": "15-03-2024", "OrderStatus": "Hold"},
    {"SalesOrder": "SO108", "OrderDate": "03-04-2024", "CustomerID": 4, "City": "Pune", "Country": "India", "ProductID": 5, "Price": 8000, "Qty_Sold": 1, "Qty_Sold_Units": "pieces", "Amount": 8000, "Amount_Currency": "INR", "ShipDate": "08-04-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO109", "OrderDate": "03-05-2024", "CustomerID": 1, "City": "Ahmedabad", "Country": "India", "ProductID": 6, "Price": 70000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 350000, "Amount_Currency": "INR", "ShipDate": "18-05-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1010", "OrderDate": "01-05-2024", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 6, "Price": 2000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 14000, "Amount_Currency": "INR", "ShipDate": "16-05-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1011", "OrderDate": "19-06-2024", "CustomerID": 1, "City": "Chennai", "Country": "India", "ProductID": 2, "Price": 2000, "Qty_Sold": 1, "Qty_Sold_Units": "pieces", "Amount": 2000, "Amount_Currency": "INR", "ShipDate": "04-07-2024", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1012", "OrderDate": "08-07-2024", "CustomerID": 3, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 3000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 15000, "Amount_Currency": "INR", "ShipDate": "23-07-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1013", "OrderDate": "14-08-2024", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 10000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 100000, "Amount_Currency": "INR", "ShipDate": "29-08-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1014", "OrderDate": "02-09-2024", "CustomerID": 5, "City": "Ahmedabad", "Country": "India", "ProductID": 3, "Price": 10000, "Qty_Sold": 10, "Qty_Sold_Units": "pieces", "Amount": 100000, "Amount_Currency": "INR", "ShipDate": "17-09-2024", "OrderStatus": "Open"},
    {"SalesOrder": "SO1015", "OrderDate": "23-09-2024", "CustomerID": 1, "City": "Chennai", "Country": "India", "ProductID": 3, "Price": 8000, "Qty_Sold": 6, "Qty_Sold_Units": "pieces", "Amount": 48000, "Amount_Currency": "INR", "ShipDate": "08-10-2024", "OrderStatus": "Open"},
    
]

sales_2023 = [
    
    {"SalesOrder": "SO1016", "OrderDate": "20-01-2023", "CustomerID": 4, "City": "Ahmedabad", "Country": "India", "ProductID": 7, "Price": 8000, "Qty_Sold": 4, "Qty_Sold_Units": "pieces", "Amount": 32000, "Amount_Currency": "INR", "ShipDate": "09-02-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1017", "OrderDate": "01-01-2023", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 8000, "Qty_Sold": 6, "Qty_Sold_Units": "pieces", "Amount": 48000, "Amount_Currency": "INR", "ShipDate": "21-01-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1018", "OrderDate": "26-01-2023", "CustomerID": 4, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 10000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 50000, "Amount_Currency": "INR", "ShipDate": "15-02-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1019", "OrderDate": "18-02-2023", "CustomerID": 3, "City": "Mumbai", "Country": "India", "ProductID": 1, "Price": 2000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 10000, "Amount_Currency": "INR", "ShipDate": "10-03-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1020", "OrderDate": "24-03-2023", "CustomerID": 1, "City": "Pune", "Country": "India", "ProductID": 4, "Price": 5000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 25000, "Amount_Currency": "INR", "ShipDate": "13-04-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1021", "OrderDate": "16-03-2023", "CustomerID": 1, "City": "Mumbai", "Country": "India", "ProductID": 7, "Price": 10000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 70000, "Amount_Currency": "INR", "ShipDate": "10-04-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1022", "OrderDate": "30-04-2023", "CustomerID": 1, "City": "Pune", "Country": "India", "ProductID": 3, "Price": 70000, "Qty_Sold": 5, "Qty_Sold_Units": "pieces", "Amount": 350000, "Amount_Currency": "INR", "ShipDate": "25-05-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1023", "OrderDate": "13-04-2023", "CustomerID": 4, "City": "Mumbai", "Country": "India", "ProductID": 5, "Price": 3000, "Qty_Sold": 3, "Qty_Sold_Units": "pieces", "Amount": 9000, "Amount_Currency": "INR", "ShipDate": "08-05-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1024", "OrderDate": "08-07-2023", "CustomerID": 5, "City": "Ahmedabad", "Country": "India", "ProductID": 5, "Price": 5000, "Qty_Sold": 2, "Qty_Sold_Units": "pieces", "Amount": 10000, "Amount_Currency": "INR", "ShipDate": "02-08-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1025", "OrderDate": "25-07-2023", "CustomerID": 3, "City": "Chennai", "Country": "India", "ProductID": 4, "Price": 5000, "Qty_Sold": 7, "Qty_Sold_Units": "pieces", "Amount": 35000, "Amount_Currency": "INR", "ShipDate": "19-08-2023", "OrderStatus": "Closed"},
    {"SalesOrder": "SO1026", "OrderDate": "14-07-2023", "CustomerID": 2, "City": "Ahmedabad", "Country": "India", "ProductID": 1, "Price": 1500, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "08-08-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1027", "OrderDate": "24-07-2023", "CustomerID": 3, "City": "Hyderabad", "Country": "India", "ProductID": 3, "Price": 3000, "Qty_Sold": 9, "Qty_Sold_Units": "pieces", "Amount": 27000, "Amount_Currency": "INR", "ShipDate": "18-08-2023", "OrderStatus": "Hold"},
    {"SalesOrder": "SO1028", "OrderDate": "25-07-2023", "CustomerID": 3, "City": "Chennai", "Country": "India", "ProductID": 6, "Price": 5000, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 40000, "Amount_Currency": "INR", "ShipDate": "19-08-2023", "OrderStatus": "Hold"},
    {"SalesOrder": "SO1029", "OrderDate": "17-09-2023", "CustomerID": 2, "City": "Chennai", "Country": "India", "ProductID": 5, "Price": 1500, "Qty_Sold": 8, "Qty_Sold_Units": "pieces", "Amount": 12000, "Amount_Currency": "INR", "ShipDate": "12-10-2023", "OrderStatus": "Open"},
    {"SalesOrder": "SO1030", "OrderDate": "08-09-2023", "CustomerID": 4, "City": "Chennai", "Country": "India", "ProductID": 7, "Price": 8000, "Qty_Sold": 9, "Qty_Sold_Units": "pieces", "Amount": 72000, "Amount_Currency": "INR", "ShipDate": "03-10-2023", "OrderStatus": "Open"}
]

sales_schema = """SalesOrder string, 
                    OrderDate string, 
                    CustomerID integer, 
                    City string, 
                    Country string, 
                    ProductID integer, 
                    Price integer, 
                    Qty_Sold integer, 
                    Qty_Sold_Units string, 
                    Amount integer, 
                    Amount_Currency string, 
                    ShipDate string,
                    OrderStatus string
                    """

In [ ]:
sales_df_2024 = spark.createDataFrame(data=sales_2024, schema=sales_schema)
sales_df_2023 = spark.createDataFrame(data=sales_2023, schema=sales_schema)
sales_df_2024.show()
sales_df_2023.show()

In [ ]:
# Union
# select * from sales_2024
# union
# select * from sales_2023
# union in pyspark will act like union all in sql . so distinct after union if required
new_sales_df = sales_df_2024.union(sales_df_2023)

In [ ]:
new_sales_df.show()

In [ ]:
# regex replace

# Sample data
from pyspark.sql.functions import regexp_replace
data = [("John Doe", "123-456-7890"), 
        ("Jane Smith", "(123) 456-7890"), 
        ("Sam Brown", "123 456 7890")]
columns = ["Name", "Phone"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Use regexp_replace to clean phone numbers
cleaned_df = df.withColumn("CleanedPhone", regexp_replace("Phone", r"\D", ""))  # Remove non-digit characters

# Show results
cleaned_df.show()

In [ ]:
# Drop None

data = [("John", 25, None),
        ("Jane", None, None),
        (None, 30, 4000),
        ("Alice", 28, 3000)]

columns = ["Name", "Age", "Salary"]

#DataFrame.dropna(how='any', subset=None, thresh=None)

# how:

# 'any' (default): Drops a row if any column has a null value.
# 'all': Drops a row only if all columns have null values.

# subset:

# A list of column names. The method checks for null values only in the specified columns.
# thresh:

# Specifies the minimum number of non-null values required to retain a row. Overrides how if specified.

In [ ]:
drop_df = spark.createDataFrame(data, columns)

In [ ]:
drop_df.show()

In [ ]:
drop_df.dropna(how='any').show()

In [ ]:
drop_df.dropna(how='any',subset=["Name","Age"]).show()

In [ ]:
drop_df.dropna(how='any',thresh=2).show()

In [ ]:
# Reprtition or coalesce only reduce

from pyspark.sql.functions import spark_partition_id
sales_df.rdd.getNumPartitions()

In [ ]:
sales_re_df = sales_df.repartition(16)

In [ ]:
sales_re_df.rdd.getNumPartitions()

In [ ]:
sales_reduced_df = sales_re_df.coalesce(22)

In [ ]:
sales_reduced_df.rdd.getNumPartitions()

In [ ]:
sales_reduced_df = sales_re_df.coalesce(8)

In [ ]:
sales_reduced_df.rdd.getNumPartitions()